.detail-poster {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;

  padding-bottom: 50%;
}

.detail-poster figure {
  position: absolute;
  top: 0;
  left: 0;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100%;
}

.detail-poster figure::before {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
}

.detail-poster img {
  position: absolute;
  left: 50%;

  height: 100%;

  transform: translateX(-50%);
}

.detail-info {
  margin-top: 30px;
}

.detail-info .etc-box span + span::before {
  content: "";
  display: inline-block;

  width: 1px;
  height: 12px;

  margin: 0 10px;

  background-color: var(--gray2-color);
}

.desc-box {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-top: 24px;
  padding: 12px 0;

  border-top: 1px solid var(--gray3-color);
  border-bottom: 1px solid var(--gray3-color);
}

.desc-item {
  display: grid;
  grid-template-columns: 40px 1fr;
}

.photo-section {
  margin-top: 32px;
}

.photo-list-box {
  position: relative;

  margin-top: 16px;
}

.photo-display {
  overflow: hidden;
}

.photo-list {
  display: flex;
  gap: 4px;

  width: 100%;
  height: 100%;

  transition: 300ms;
}

.photo-item {
  flex-shrink: 0;

  width: calc((100% - 28px) / 8);

  cursor: pointer;
}

.photo-box {
  position: relative;

  width: 100%;
  height: 0;
  overflow: hidden;

  border-radius: 4px;

  padding-bottom: 100%;
}

.photo-box img {
  position: absolute;

  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: 300ms;
}

.photo-box img:hover {
  transform: scale(1.1);
}

.photo-preview {
  position: relative;

  margin-top: 4px;

  border-radius: 4px;

  background-color: #000000;
}

.photo-preview-box {
  position: relative;

  width: 70%;
  height: 0;

  padding-bottom: 40%;

  margin: 0 auto;

  overflow: hidden;
}

.photo-preview-box img {
  position: absolute;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.list-button {
  position: absolute;
  top: 50%;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border: none;
  border-radius: 20px;

  background-color: #ffffff;

  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1), 0px 1px 18px rgba(0, 0, 0, 0.06), 0px 6px 10px rgba(0, 0, 0, 0.08);

  transform: translateY(-50%);

  cursor: pointer;
}

.prev-button {
  left: -20px;
}

.next-button {
  right: -20px;
}

.comment-section {
  margin-top: 30px;
}

.comment-form {
  border: 1px solid var(--gray2-color);

  padding: 16px;
}

.comment-form input {
  height: 36px;

  border: none;
  border-bottom: 1px solid var(--gray2-color);

  outline: none;
}

.comment-user-box {
  display: flex;
  gap: 12px;
}

.comment-submit-box {
  display: flex;
  gap: 12px;

  margin-top: 12px;
}

.comment-content {
  flex: 1;
}

.comment-submit {
  width: 60px;

  background-color: var(--green-color);

  border: none;

  color: #ffffff;

  cursor: pointer;
}

.comment-list {
  margin-top: 30px;
}

.comment-item {
  padding: 12px 0;
}

.comment-item + .comment-item {
  border-top: 1px solid var(--gray2-color);
}

.comment-delete {
  padding: 0;
  border: none;

  background-color: transparent;
}
