.detail-container {
  max-width: 1200px;

  margin: 0 auto;
  padding: 0 20px;
}

.detail-poster {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;

  padding-bottom: 50%;
}

.detail-poster figure {
  position: absolute;
  top: 0;
  left: 0;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100%;
}

.detail-poster figure::before {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
}

.detail-poster img {
  position: absolute;
  left: 50%;

  height: 100%;

  transform: translateX(-50%);
}

.detail-info {
  margin-top: 30px;
}

.detail-info .etc-box span + span::before {
  content: "";
  display: inline-block;

  width: 1px;
  height: 12px;

  margin: 0 10px;

  background-color: var(--gray2-color);
}

.desc-box {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-top: 24px;
  padding: 12px 0;

  border-top: 1px solid var(--gray3-color);
  border-bottom: 1px solid var(--gray3-color);
}

.desc-item {
  display: grid;
  grid-template-columns: 40px 1fr;
}

.photo-section {
  margin-top: 32px;
}

.photo-list {
  display: flex;
  gap: 4px;

  margin-top: 16px;

  overflow-x: scroll;
}

.photo-item {
  flex-shrink: 0;

  width: calc((100% - 12px) / 4);
}

@media (min-width: 600px) {
  .photo-item {
    width: calc((100% - 16px) / 5);
  }
}

@media (min-width: 800px) {
  .photo-item {
    width: calc((100% - 20px) / 6);
  }
}

@media (min-width: 1000px) {
  .photo-item {
    width: calc((100% - 24px) / 7);
  }
}

.photo-box {
  position: relative;

  width: 100%;
  height: 0;
  overflow: hidden;

  border-radius: 4px;

  padding-bottom: 100%;
}

.photo-item img {
  position: absolute;

  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: 300ms;
}

.photo-item img:hover {
  transform: scale(1.1);
}
